[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
pubnub = "*"
aiohttp = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
env-file = "*"
autopep8 = "*"
pytest-asyncio = "*"
aiohttp = "*"

[requires]
python_version = "3.7"

[packages.smbus]
version = "*"
sys_platform = "== 'linux'"
