[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
jsonschema = "*"
pubnub = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
env-file = "*"

[requires]
python_version = "3.7"
